/*.error{*/
/*color:#AF0000;*/
/*}*/
.titulo_kc{
    font-family: Helvetica;
    color: #9a9a9a;
    background-color:white;
    font-size:12pt;
}
.subtitulo_kc{
    font-family: Helvetica;
    color: #444444;
    background-color:white;
    font-size:11pt;
    text-align:center;
    text-transform: capitalize;
}
.subtitulo_kc:first-letter{
    /*text-transform: lowercase;*/
}
.numeric-stepper{
    text-align: center;
}
.estrella_apagada{
    color:#f3f3f3;
}
.estrella_encendida{
    color:#305da8;
}
.modal-dialog{
    margin-top: 1%;
}
.theme-sltd.color-blue .topbar{
    background-color: #305da7;
}
.theme-sltd.color-blue.sidebar-top.fixed-topbar .sidebar .logopanel{
    background-color: #305da7;
}
.letra_blanca{
    font-family: Helvetica;
    color: white;
}
.letra{
    font-family: Helvetica;
}
.nav-hover > a > span{
    color:black;
}
.nav-hover > a > i{
    color:black;
}
.active_kc{
    background-color: #488dfc;
}
.panel{
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.08) !important;
}